@import "variables.css";
@import "headers.css";
@import "board.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}